extends layout

block content
  h1= title
  p Welcome to #{title}

  script(src='/javascripts/test.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js')
  script(src='/javascripts/17.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js')
  script(src='/javascripts/14.js')